@import './fonts.css';
@import './variables.css';
@import './themes.css';
@import './scrollbar.css';
@import './links.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}