.container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    padding-bottom: 0;
}

h2 span {
    display: block;
    text-align: right;
}

h2 span:last-child{
    font-weight: 500;
}

.countdown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
    padding: 10rem;
    padding-top: 3rem;
}

.about h2{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p{
    text-align: center;
}